@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .error-message-panel {
    .v-panel {
      background: #fcdede;
      font-family: sans-serif;
    }

    .v-horizontal {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-right: 1px;
    }

    .v-label {
      color: firebrick;
      font-size: 13px;
    }

    .v-button {
      background-image: none;
      box-shadow: none;
      background: transparent;
      border: none;
      display: inline-block;
      color: #b25350;
      font-family: sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
    }

    .v-button:after {
      content: none;
    }

    .v-button:hover {

      background-image: none;
      box-shadow: none;
      background: transparent;
      color: firebrick;
    }

    .v-button .v-widget {
    }

    .v-horizontal {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-right: 1px;
    }
  }

  .registration-form{
    .v-panel{
      .v-panel-caption {
        font-size: 18px;
        font-weight: bold;
      }
    }

  }

}
